.form-container {
  position: absolute;
  margin-top: auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;
    align-items: center; */
  min-width: 600px;
  min-height: 300px;
  /* margin: 20px; */
  top: 50%;
  left: 50%;
  /* background: rgba(0, 0, 0, 0.5); */
  background: #1c2841;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  /* overflow: visible; */
  /* transform: translateX(0); */
  transform: translate(-50%, -50%);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  /* transition-delay: 200ms; */
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

/* Fade out & slide left when hiding */
.form-container.hide {
  opacity: 0;
  transform: translate(-50%, -50%) translateX(-20px);
  pointer-events: none;
}

/* Fade in when showing */
.form-container.show {
  opacity: 1;
  transform: translate(-50%, -50%) translateX(0);
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin: 35px;
}

.bg-primary {
  background: #22304f;
  width: 100vw;
  height: 100vh;
}

.carousel-btn {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  /* transform: translateY(-50%); */
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-btn:hover,
.carousel-btn:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn:focus {
  outline: 1px solid black;
}

.carousel-btn.prev {
  left: 1rem;
}

.carousel-btn.next {
  right: 1rem;
}
